*{
    margin: 0%;
    padding: 0%;
}
/*  estilos de barra de navegacion y footer  */

body{
    overflow-x: hidden;
    font-family: oswald,sans-serif;
}
header{ 
    height: max-content; 
    background-color: #e9d4c48c; 
    font-size: 20px;
    font-weight: bold;
    padding: 5px; 

} 
.barraNavegacion{
    margin: 5px;
}

footer{
    background-color: #a2b393;
    display: grid;
    text-align: center;
}
.elementosFooter{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: 350px;
} 
.texto{
    width: 400px;
    padding: 40px;
    margin: 5px 100px; 
    text-align: justify;
    font-size: large;
}
.texto h3{
    font-size: 30px;
    color: #143a23;
    font-weight: bold;
}
.redes{
    text-align: center;
    text-size-adjust: 30px;
}

.redes a {
    text-decoration: none;
    color: white;
}
.redes a:hover {
    color: black;
 }

h2{
    font-size: 25px;
    padding-bottom: 8px;
    text-align: center;
}
.derechos h4{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-top: 80px;
    margin-left: 10px; 
} 

/* vista de mobile  header y footer */

 @media only screen and (min-width:320px) and (max-width:1024px)
{
    footer{
        height: max-content;
        background-color: #a2b393;
    }
    .elementosFooter{
        height: max-content;
        width: 50vw;
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(2, 1fr); 
    }
    .iframe{
         grid-row: 2/3;
         width: 60vw;
         height: max-content;
         margin: 38px;
         margin-right: 20px;
         overflow:hidden;
         position:relative;
    }
    
    .texto{
        width: 60vw;
        height: max-content;
        margin-right: 20px;
    }
    .derechos{
        text-align: left;
        margin-top: 0px; 
        margin-left: 10px;
}
}

/* estilos del index  */

 .bienvenidos{
    background-image: url(Recursos/isla.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: max-content;
    margin: 0;
} 
.bienvenidos h1{
    font-size: 30px;
    font-weight: bold;
    color: #143a23;
    padding: 10px;
    margin: 10px;
}
.bienvenidos p{
    width: 35vw; 
    background-color: #a2b393;
    padding: 8px;
    text-align: justify;
    font-weight: 200;
    padding: 10px;
    margin: 10px;
}
.bienvenidos a{
    font-size: 25px;
    color: #143a23;
}
@media only screen and (min-width:320px) and (max-width: 1024px)
{
        .bienvenidos{  
            height: max-content;

        }
        .bienvenidos p{
            width: 65vw; 
        }   
    }

/* estilo general para titulo de las secciones */

.tituloSeccion{
    height: 100px;
    background-color: #a2b393;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}
.tituloSeccion h1{
     font-size: 25px; 
     font-weight: 500;
}
/* estilos para la pagina sobre nosotros  */

.sobreNosotros{
    height: max-content;
    background-image: url(./Recursos/presentacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.historiaIsla{
    height: max-content;
    width: 300px;
    background-color: #a2b393b8;
    padding: 10px;
    border-radius: 10px;
    margin: 150px 50px;
    transition: 1.5s;
}
.historiaIsla:hover{
    height: max-content;
    width: 350px;
}
.historiaIsla h3{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}
.historiaIsla p{
    transition: 1.5s;
}
.historiaIsla p:hover{
    font-size: 20px;
}
/* vista mobile para pagina en la isla (sobre nosotros) */
@media only screen and (min-width:320px) and (max-width:767px)
{
    .sobreNosotros{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
        align-content: center;
    }
   }
   @media only screen and (min-width:768px) and (max-width:1024px) 
   {
.sobreNosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
    width: auto;
}
 }
/* estilos para pagina de consultas */

.consultas{
    height: 500px;
    width: 100vw;
    background-color: #e9d4c48c; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imgConsultas{
    grid-column: 1/2;
    align-items: center;
    margin: 100px;
    padding: 0px;
   
}
.cajaConsultas{
    grid-column: 2/3;
    height: 300px; 
    width: 400px;
    padding: 25px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.592);
    border-radius: 10px; 

}
.cajaConsultas button{
    height: auto;
    width: 100px;
    border-radius: 4px;
    color: #6a8976;
    
}
/* vista mobile para pagina de consultas  */
@media only screen and (max-width:320px) 
{
    .consultas{
        height: max-content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .imgConsultas{
        width: 300px;
        margin: 10px;
    }
    .imgConsultas img{
        width: 280px;
        margin: 10px;
    }
    .cajaConsultas{
      
        height: max-content; 
        width: 200px;
        margin: 30px;
    }

}

/* estilo de pagina de productos  */

.productos{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 300px);
    height: 800px;
    background-color: #e9d4c48c;
}
.cajaProductos{
    height: 380px;
    width: 270px;
    padding: 25px;
    border: 3px;
    margin: 30px 120px;
    transition: 2s;
}
.cajaProductos img{
    width: 250px;
    padding: 10px;
    margin: 5px;
    transition: 2s;
}
 .cajaProductos:hover{
   width: 350px;
} 
.cajaProductos img:hover{
    width: 320px;
}
.cajaProductos h4{
    text-align: center;
    font-size: 12px;
    padding: 5px;
} 

.cajaProductos h5{
    text-align: center;
    font-size: 9px;
    color: #6a8976;

}
.cajaProductos button{
    height: 25px;
    width: 90px;
    padding: 3px;
    margin: 3px 95px;
}
.cajaProductos button:hover{
    width: 100px;
}

/* Vista para mobile de pagina de productos  */

@media only screen and (max-width:320px) 
{
    .productos{
        height: max-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cajaProductos{
        width: 250px;
        margin: 2px 6px;
        padding-top: 2px;
    }
}

/* css de Contacto */

.formulario{ 
    width: 100%;
    display: flex;
}
.contacto{
    height: 500px;
    width: 400px;
    background-color: #e9d4c48c;
    padding: 25px;
    border-radius: 20px;
    margin: 20px 150px;
}
.contacto input{
    background-color: #e9d4c48c;
    padding: 3px;
    border-radius: 6px;
    margin: 3px;
    font-size: 20px;
    text-align: center;
    text-decoration: double;
}
.contacto input:focus{
    color: #6a8976;

}
.contacto label{
     padding: 5px;
}

.contacto h2{
    font-size: 25px;
    color: #6a8976;
    padding-bottom: 7px;
    text-align: center;
    font-weight: bold;
}

/* vista para mobile de contacto */
@media only screen and (max-width:320px){
.formulario{ 
    height: 950px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 50px;
}
.contacto{
    height: max-content;
    width: 250px;
    background-color: #e9d4c48c;
    border-radius: 20px;
    margin: 5px;
    font-size: small;
}
.contacto textarea{
    width: 230px;
}
.contacto input{
    font-size: 10px;
}
}